.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projects .projectsTitle {
    font-size: 50px;
    margin-top: 60px;
  }
  
  .projectsList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    object-fit: cover;
    place-items: center;
    margin-top: 50px;
    margin-bottom: 60px;

  }
  
  /* PROJECTS ITEM STYLING */
  
  .projectsItem  {
    border-radius: 15px;
    width: 300px;
    height: 400px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

 
  } 
  .projectsItem h1{
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 2 auto;
    display: flex;
  }
  .projectsItem p{
    font-weight: 300;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-bottom: 0.5rem;

  }
  /* .projectsItem a{
    font-weight: 300;
    background-color: black;
    color: gold;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;

  } */
  .projectsItem a button{
    background: black;
    color: gold;
    border: none;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;

  }
  .projectsItem:hover a button {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }


  .projectsItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .projectsItem img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .projectsItem h1,
  .projectsItem p {
    margin-left: 10px;
    /* align-items: center; */
  }
  
  @media only screen and (max-width: 1300px) {
    .projectsList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectsList {
      grid-template-columns: 1fr;
      margin-right: 70px;
    }
    .projects .projectsTitle {
      font-size: 40px;
    }
  
    
  }
  @media only screen and (max-width: 480px) {
    .projectsList {
      grid-template-columns: 1fr;
      margin-right: 100px;
    }
    .projects .projectsTitle {
      font-size: 40px;
    }
  
    
  }