footer{
    width: 100vw;
    height: 4rem;
    background: #3556bb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    
}
@media screen and (max-width:480px){
    footer{
        width: 95vw;
        height: 2rem;
        font-size: 12px;
    }
}
@media screen and (max-width:380px){
    footer{
        width: 95vw;
        height: 2rem;
        font-size: 10px;
    }
}